*{
  margin: 0;
  padding: 0;
}

h1{
  padding: 10px 650px;
}

span{
  color: blue;
  padding-left: 60px;
}

.continare{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 650px;
  
}

.continare1{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 650px;
  
}

.div{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  
  
  
}

.div1{
  background-color: rgb(228, 91, 91);
  padding: 20px 20px; 
  
}

.div2{
  background-color: rgb(194, 144, 42);
  padding: 20px 20px; 
  
}

.div3{
  background-color: rgb(121, 179, 20);
  padding: 20px 20px; 
  
}

.div4{
  background-color: rgb(52, 165, 21);
  padding: 20px 20px; 
  
}

.div5{
  background-color: rgb(20, 166, 88);
  padding: 20px 20px; 
  
}

.div6{
  background-color: rgb(26, 120, 163);
  padding: 20px 20px; 
  
}


